# ==============================================
# NOTIFICATION SERVICE — Configuration
# ==============================================

# Port du service
PORT=3000

# ==============================================
# MONGODB — Base de données des notifications
# ==============================================
MONGODB_URI=mongodb://db-notifications:27017/notifications_db

# ==============================================
# KAFKA — Écoute des événements
# ==============================================
KAFKA_BROKERS=kafka:9092
KAFKA_GROUP_ID=notification-service-group

# ==============================================
# EMAIL (Nodemailer + Gmail)
# ==============================================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=banque.platform@gmail.com
EMAIL_PASSWORD=ton_mot_de_passe_app
EMAIL_FROM=Banque Platform <banque.platform@gmail.com>

# ==============================================
# SMS (Twilio)
# ==============================================
TWILIO_ACCOUNT_SID=ton_account_sid
TWILIO_AUTH_TOKEN=ton_auth_token
TWILIO_PHONE_NUMBER=+1234567890
